/* error message */
  .warn {
    width: 100%;
    color: #d81d1d;
    font-size: 2rem;
    margin-top: 1rem;
  }
/* header + footer styling */
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .headerDiv {
    width: 300px;
    margin: 20px 0 0 20px;
  }

  .footer {
    margin: 2rem;
  }

  .searchBar {
    width: 100%;
    display: flex;
    margin: 1.5rem;
  }
  .searchBar input {
    width: 250px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    
  }
  .results {
    background-color: var(--tableColor);
    border-radius: 15px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    width: 340px;
    top: 95px;
    right: -3px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .headerMenuOpen, .headerMenuClosed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0 20px;
  }

  .burger, .burgerOpen {
    transition: color 0.4s ease;
    display: none;
  }
  .burger:hover {
    color: #919191
  }
  .burgerOpen:hover {
    color: var(--headColor);
  }

  .list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 400px;
  }
  .list a {
    text-decoration: none;
    color: var(--headColor);
    font-size: 40px;
    transition: color 0.4s ease;
  }
  .list a:hover {
    color: #919191
  }

  @media (max-width: 890px) {
    .headerMenuClosed {
      display: none;
    }
    .headerMenuOpen {
      position: absolute;
      top: 70px;
      right: 0;
      display: flex;
      flex-direction: column;
    }
    .list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
    }
    .burger , .burgerOpen {
      display: block;
      cursor: pointer;
      font-size: 50px;
      margin: 20px;
      color: var(--headColor);
    }
    .burgerOpen {
      color: #919191;
    }
    .searchBar {
      position: absolute;
      top: -90px;
      right: 40px;
      width: 250px;
    }
    .results {
      top: -10%;
      right: 65px;
    }
  }

  @media (max-width: 600px) {
    .searchBar {
      width: 200px;
      right: 45px;
    }
    .searchBar input{
      width: 200px;
    }
    .results {
      right: 75px;
    }
    .footer {
      margin: 20px 0 10px 20px;
    }
    .burger, .burgerOpen {
      margin: 20px 2px 0 0;
    }
  }

  @media (max-width: 480px) {
    .searchBar {
      width: 120px;
      right: 35px;
      top: -80px;
    }
    .searchBar input {
      width: 120px;
    }
    .results {
      right: 0;
      width: 300px;
    }
    .results div {
      width: 220px;
    }
    .headerMenuOpen {
      margin-top: 10px;
    }
    .list {
      gap: 10px;
    }
  }


/* formular styling */
  .formContainer {
    color: var(--textColor);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--tableColor);
    text-align: center;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
  }
  @media screen and (max-width: 890px) {
    .formContainer {
      width: 75%;
    }
  }
  .formContainer h2 {
    margin-bottom: 20px;
    color: var(--textColor);
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .first {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    
    font-size: larger;
    font-weight: bolder;
    color: var(--textColor);
  }
  .checkbox {
    width: 20px;
    margin-right: 10px;
  }

  .second {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
  }

  .labelInput {
    width: 95%;
    max-width: 400px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
  }

  .button {
    background: linear-gradient(135deg, #444444, #1a1a1a); 
    color: var(--tableColor); 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Jemný vnější stín */
    transition: background 0.3s ease;
    width: 120px;
    margin: 1rem auto;
  }

  .button:hover {
    background: linear-gradient(135deg, #1a1a1a, #444444); 
  }
/* seznam otazek styling */
  .questionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .questionList h2 {
    width: 100%;
    margin-bottom: 10px;
    color: var(--headColor);
    text-align: center;
  }

  .question {
    background-color: var(--tableColor);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    width: 30%;
    min-width: 300px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
  }
  @media (max-width: 480px) {
    .question {
      min-width: 260px;
    }
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    color: var(--textColor);
    margin-bottom: 10px;
  }

  .ask {
    font-size: 20px;
    color: var(--textColor);
    margin-bottom: 40px;
    font-style: oblique;
  }

  .answer {
    font-size: 20px;
    color: var(--answerColor);
    margin-bottom: 10px;
  }

  .voteSection {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  .voteSection button {
    background-color: var(--buttonColor);
    color: #008100;
    border: none;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  .voteSection button:hover {
    color: #005c00;
  }
  .voteSection button:active {
    color: #002500;
  }
  .voteSection span {
    font-size: 20px;
    color: #008100;
  }
